body {
    background-color: #f1faff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Set your preferred font */
}
.navbar {
    background-color: #659dbd; /* d1e8e2 */
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    align-items: center;
}

.navbar img{
    max-width: 25px;
    max-height: 25px;
}
.navbar a {
    text-decoration: none;
    color: #fff; /* White text */
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out; /* Add a smooth color transition */
    margin: 0 25px;
}
.navbar a:hover {
    color: #c0ced1;}
    .current-page {
    border-bottom: 2px solid white; /* Add a white bottom border for the current page */
}
.mtb:hover {
    color: #26778e;
}

.dp-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.soc-icon{
    display: flex;
    gap: 30px;
    margin-left: 40px;
    margin-top: 20px;
}
.si-img{
    max-width: 30px;
    max-height: 30px;
}
.text{
    display: flex;
    margin-left: 13%;
    margin-right: 13%;
    text-align: justify;
}
.mtb{
    text-decoration: none;
    color: #659dbd;
    transition: color 0.3s ease-in-out;}

.about-text{
    font-size: 20px;
}
.home-page-hi{
    color: #659dbd;
}

.my-pro-head{
    color: #659dbd;
}
.edu-skill{
    display: flex;
    margin-left: 13%;
    margin-right: 13%;}

.skill-text{
    font-size: 20px;
}
.skill-set{
    font-size: 18px;}

.dp{
    max-width: 340px;
    max-height: 290px;
    margin-left: 40px;
    margin-top: 25px;
    border-radius: 50px;
}


.pro-text{
    display: flex;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 10px;
    margin-top: 2%;
    text-align: justify;
}
.pro-link{
    color: black;
    font-size: 30px;
    margin-top: 10%;
    text-decoration: none;
    transition: color .3s ease-in-out; 
}
.pro-link:hover{
    color: #659dbd;
}

.cv-link{
    color: black;
    font-size: 25px;
    margin-top: 3%;
    text-decoration: none;
    transition: color .3s ease-in-out; 
}
.cv-link:hover{
    color: #659dbd;
}

.cv-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.cv-img{
    margin-top: 25px;
    max-width: 74%;
}
.pro-title-text{
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;
}
.pro-title-text p{
    font-size: 20px;
}

.project-report{
    margin-left: 13%;
    margin-right: 13%;
    text-align: justify;
    font-size: 20px;
}


.covid-img-cont{
    display: flex;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 10px;
    margin-top: 5%;
    justify-content: center;
}
.covid-img{
    max-height: 60%;
    max-width: 60%;
    justify-content: center;
}
.temp{
    display: flex;
    justify-content: center;
}



@media only screen and (max-width: 600px){
    .text{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .dp{
        max-width: 240px;
    }

    .project-img{
        width: 100%;
    }
}